<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    </head>
    <body style="background-size: cover;" background="https://ununsplash.imgix.net/uploads/141319062591093cefc09/ad50c1f0?q=75&fm=jpg&s=a356dd61ff3da2269124bcd12a303b7e">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <span class="navbar-brand">Beautiful Admin</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('view_products_list')}}">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{url_for('view_account_create')}}">New Account</a>
                </li>
            </div>

            <form class="form-inline my-2 my-lg-0">
                <a href="{{url_for('view_login')}}" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</a>
            </form>

          </nav>
          {% block body %}{% endblock %}
    </body>
</html>