{% extends 'admin_base.html' %}
{% block body %}
  <main role="main" class="container">

    <div class="starter-template">
      <h1>More about the product...</h1>

      <p><font color="white">
        <strong>{{product.company}}</strong> <br>
        {{product.name}} <br>
        {{product.size}} {{product.unit}} <br>
        ${{product.price}} <br>
        About the product: {{product.description}} <br>
        Product ID: {{productId}} <br>
      </font></p>

    </div>

  </main>

  <style>
    .starter-template {
        padding: 40px;
        background: black;
        opacity: 0.8;
        margin: 20px;
        border-radius: 10px;
    }

    .starter-template h1 {
        color: #007bff;
    }
</style>
{% endblock %}